:root {
	--primary-color: #2c3e50;
	--secondary-color: #0172ad;
	--accent-color: #ffff00;
	--light-color: #ddd;
	--transition-speed: 600ms;

	--color-status-win: #060;
	--color-status-loss: #800;
	--color-status-draw: #880;
}

/* 
Breakpoints: 576, 768, 1024, 1280, 1536
*/

[data-theme='light'] {
	--primary-color: #2c3e50;
	--secondary-color: #0172ad;
	--accent-color: #888800;
}

button {
	padding: 0.25rem 0.5rem;
}

button.pill {
	border-radius: 20px;
	padding: 0.25rem 1rem;
	border-color: var(--secondary-color);
	background-color: var(--secondary-color);
}

button.pill.outline {
	background-color: transparent;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.title h1,
.title h2,
.title h3 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	text-decoration: underline;
}

dialog footer {
	display: flex;
	justify-content: space-between;
}

.error {
	color: red;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
}

iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

@media only screen and (max-width: 600px) {
	table {
		margin: 0 -0.25rem 0 -0.25rem;
		width: calc(100% + 0.5rem);
	}

	table th,
	table td {
		padding: 0.25rem;
	}

	main {
		margin-bottom: 10rem;
	}
}