:root {
	--primary-color: #2c3e50;
	--secondary-color: #ffff00;
	--accent-color: #c0392b;
	--light-color: #ddd;
}

[data-theme='light'] {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--accent-color: #e74c3c;
}